{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Tela Principal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'burnout2_app/style/style.css' %}">


</head>


</head>
<body>
    <div class="menu">
        <a href="{% url 'teste' %}">Teste</a>
        <a href="{% url 'depoimentos' %}">Depoimentos</a>
        <a href="{% url 'contatos' %}">Contatos</a>
    </div>
    <h1>Bem-vindo à Tela Principal</h1>
    
    <!-- Resto do conteúdo da página -->
</body>
</html>





